<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.player">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".movie.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@layout/network_security_policy"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".music.activity.MusicSearchActivity"
            android:exported="true" />
        <activity
            android:name=".movie.activity.RegisterActivity"
            android:exported="true" />
        <activity android:name=".movie.activity.WebViewActivity" />
        <activity android:name=".movie.activity.LoginActivity" />
        <activity android:name=".movie.activity.MainActivity" />
        <activity android:name=".movie.activity.UserActivity" />
        <activity android:name=".movie.activity.SearchActivity" />
        <activity android:name=".movie.activity.MoviePlayActivity" />
        <activity android:name=".movie.activity.MovieDetailActivity" />
        <activity android:name=".music.activity.MusicActivity" />
        <activity android:name=".movie.activity.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- 注册相机功能，在别的程序Intent intent = new Intent(MediaStore.ACTION_IMAGE_CAPTURE);进行启动相机时也会选择是否启动该应用 -->
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>